:root {
    --main-text-color: #212121;
    --second-color: #ffffff;
    --third-color: #757575;
    --hover-color: #2196F3;
}

.body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--second-color);
    color: var(--main-text-color);
}

/* -------------------LOGO-------------------- */
.logo {
    color: var(--main-text-color);
}

.logo-full {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--hover-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* -------------------HEADER-------------------- */
/* -------------------NAV-------------------- */
.header-link:hover,
.header-link:focus,
.header-mail:hover,
.header-mail:focus {
    color: var(--hover-color);
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.header-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    color: var(--third-color);
}

.header-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}
.header-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}
.header-btn:hover,
.header-btn:focus {
    color: var(--hover-color);
}

.title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: #212121;
}
.text {
    font-size: 16px;
    line-height: 2.0;
    letter-spacing: 0.03em; 
    color: #757575;
}














/* -------------------FOOTER-------------------- */
.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--hover-color);
}

.logo-studio {
    color: var(--second-color);
}

.footer-address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-color);
}

.footer-mail,
.footer-tel {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff99;
}

.footer-backgraund {
    background-color: #2F303A;
}


